<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="target"
            xsi:type="File"
            fileName="log.log"
            encoding="utf-8"
            maxArchiveFiles="30"
            archiveNumbering="Date"
            archiveAboveSize="52428800"
			archiveEvery="Day"
            archiveFileName="log.{#}.log"
			 archiveDateFormat="yyyyMMdd"
            layout="${date:format=MM/dd/yyyy HH\:mm\:ss} ${level:uppercase=true} ${message}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="target" />
	</rules>
</nlog>